{{#ifCond user_rights.mod '==' 't'}}
    <button class="btn btn-default" type="button" id="AddPersonPupilBtn">Добавить ученика</button>
    <button class="btn btn-default" type="button" id="AddPersonTeacherBtn">Добавить учителя</button>
{{/ifCond}}

<table width=100% class="table table-hover">
    {{#each users}}
        {{#if @first}}
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Номер карты</th>
                <th>Дата рождения</th>
                <th>Зарегистрирован</th>
                <th>Класс регистрации</th>
                <th>Роль</th>
                <th>Отключен</th>
            </tr>
            </thead>
        <tbody>
        {{/if}}
    <tr>
        <td>
            {{#ifCond ../user_rights.mod '==' 't'}}
            <a href="#" class="link" data-user-id="{{ id }}">
            {{/ifCond}}
            {{this.surname}} {{this.name}} {{this.middlename}}
            {{#ifCond user_rights.mod '==' 't'}}
            </a>
            {{/ifCond}}
        </td>

        <td>{{ this.card_number }} &nbsp;</td>
        <td>{{ formatDate this.birthday }}</td>
        <td>{{ formatDateTime this.register }}</td>
        <td>{{ this.reg_form }}</td>
        <td>{{ this.rolename }}</td>
        <td>{{#ifCond this.is_disabled '==' 't'}}Да{{else}}Нет{{/ifCond}}</td>
    </tr>
        {{#if @last}}
        </tbody>
        {{/if}}
    {{else}}
        <tbody>
        <tr>
            <td>Не найдено удовлетворяющих запросу персон</td>
        </tr>
        </tbody>
    {{/each}}

</table>