<div id="person_mod_dlg" title="Редактирование пользователя">
    <form role="form">
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="middle">Номер карты</label>
                        <input maxlength="120" placeholder="Номер карты" name="card" tabindex="1" class="form-control"
                               style="text-transform: capitalize;" value="{{user.card_number}}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="surname" class="mandatory">Фамилия</label>
                        <input maxlength="120" placeholder="Фамилия" name="surname" tabindex="2" class="form-control"
                               style="text-transform: capitalize;" value="{{user.surname}}"/>
                    </div>
                    <div class="form-group">
                        <label for="name" class="mandatory">Имя</label>
                        <input maxlength="120" placeholder="Имя" name="name" tabindex="3" class="form-control"
                               style="text-transform: capitalize;" value="{{user.name}}"/>
                    </div>
                    <div class="form-group">
                        <label for="middle" class="mandatory">Отчество</label>
                        <input maxlength="120" placeholder="Отчество" name="middle" tabindex="4" class="form-control"
                               style="text-transform: capitalize;" value="{{user.middlename}}"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="birthday" class="mandatory">Дата рождения</label>
                        <input maxlength="120" placeholder="Дата рождения" name="birthday" class="form-control"
                               tabindex="6" value="{{user.birthday}}" data-date-format="dd.mm.yyyy"/>
                        <input name="dbdate" type="hidden" value="{{user.birthday}}" />
                    </div>
                    <div class="form-group">
                        <label for="regday">Дата регистрации</label>
                        <input maxlength="120" placeholder="Дата регистрации" name="regday" class="form-control"
                               tabindex="7" disabled value="{{formatDateTime user.register}}"/>
                    </div>
                    <div class="form-group">
                        <label for="regclass">Класс регистрации</label>
                        <input maxlength="120" placeholder="Класс регистрации" name="regclass" class="form-control"
                               tabindex="8" disabled value="{{user.reg_form}}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="groups" class="form-group">
                        <select id="groups_select" multiple="multiple" class="form-control">
                            {{#each groups}}
                                <option value="{{this.id}}"
                                        {{#ifIn this.id ../sel_groups}}selected{{/ifIn}}>{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="snapshot" style="display: none" >
                    <div class="col-md-6">
                        <video id="video" width="320" height="240"></video>
                    </div>
                    <div class="col-md-6">
                        <canvas id="canvas" width="320" height="240"></canvas>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="button-group">
                                <button class="btn btn-success" id="snap">Снять</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" id="curphoto" style="display: none">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <img src="{{ROOT}}{{ user.pic_name }}" align="center" id="picname"/>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="button-group">
                                <button class="btn btn-success" id="change">Сменить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
